#main {
	text-align: center;
}

.button {
	margin: 15px;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

table {
	margin: 0 auto;
}

.user-controls {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#reset-btn {
	margin-bottom: 0rem;
}

input {
	width: 100px;
}

.grid {
	border-collapse: collapse;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.grid-row {
	flex: 1;
}

.cell {
	display: inline-block;
	border: 1px solid black;
	width: 25px;
	height: 15px;
}

.cell .pointer {
	background-color: lime;
}

.on {
	background-color: black;
}

.odd {
	background-color: rgb(233, 233, 233);
}

.even {
	background-color: rgb(200, 200, 200);
}
.cell:hover {
	background-color: gray;
}
