body {
	text-align: center;
	background-color: #c98bb9;
}

.button {
	background-color: #e497fa;
	margin: 15px;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

table {
	margin: 0 auto;
}

.user-controls {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#reset-btn {
	margin-bottom: 0rem;
	border: 1px solid #411e2a;
}

input {
	width: 100px;
}

.grid {
	border-collapse: collapse;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.grid-row {
	flex: 1;
}

.cell {
	display: inline-block;
	border: 1px solid #411e2a;
	width: 25px;
	height: 15px;
}

.on {
	background-color: #411e2a;
}

.odd {
	background-color: #f3dccc;
}

.even {
	background-color: #f6c19d;
}
.cell:hover {
	background-color: #7a364e;
}
